@import "../../styles/variables.scss";

.mainPage {
  .header {
    margin: 0 60px;
    &__main {
      background-image: url("../../assets/img/mainPage/RectangleMain.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 26px;
      &-title {
        font-family: "Proxima Nova";
        padding-top: 61px;
        display: flex;
        justify-content: center;
        font-weight: 900;
        font-size: 64px;
        line-height: 78px;
        color: $searchBg;
      }
      &-descr {
        display: flex;
        justify-content: center;
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: $searchBg;
        padding-bottom: 72px;
      }
    }
    &__additional {
      display: flex;
      gap: 20px;
      &-work {
        background-image: url("../../assets/img/mainPage/work.png");
        width: 33%;
        height: 94px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 16px;
      }
      &-collect {
        background-image: url("../../assets/img/mainPage/collect.png");
        width: 33%;
        height: 94px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 16px;
      }
      &-delivery {
        background-image: url("../../assets/img/mainPage/delivery.png");
        width: 33%;
        height: 94px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 16px;
      }
      a {
        display: block;
        display: flex-start;
        align-items: center;
        padding: 25px;
        height: 94px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $searchBg;
        text-decoration: none;
      }
    }
  }
  .catalog {
    margin: 68px 172px;
    &__header {
      display: flex;
      justify-content: space-between;
      &-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $black;
      }
      &-btn {
        width: 130px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        background: none;
      }
    }
    &__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
}
